/* CSS Document */
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
}

ul {
	list-style-type: none;
	list-style: none;
}

/*----------------------------------------------------------*/

/* Navigatie bar 

/*algehele navbar*/
header > nav {
	background-color: white !important;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
	transition: all .2s ease-in-out;
}

/*ul van de navbar*/
header > nav > ul {
	padding: 1rem;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

/*Betrekking tot alle images binnen de navbar*/
header > nav > ul > li > a > img {
	width: 1.5rem;
}

/*Links*/
header > nav > ul > li:nth-of-type(0) {
	float: left;
}

/*Midden (logo)*/
header > nav > ul > li > img:nth-of-type(1) {
	width: 12rem;
}

/*Rechts*/
header > nav > ul > li:nth-of-type(2) {
	float: right;
}

/*----------------------------------------------------------*/

/* Secties */

.outer-box {
	display: grid;
	grid-auto-columns: min-content;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

main {
	margin-top: 5rem;
}

section {
	margin: 1rem;
}

section > article > h1 {
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 2rem;
}

section > article > h2 {
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 2rem;
}

section > article > p {
	font-size: 0.75rem;
	font-weight: 300;
	line-height: 1.4rem;
	width: 100%;

}

section > article > a {
	flex-direction: row;
}

section > article > button {
	margin: auto;
	text-decoration: none;
	text-transform: uppercase;
	word-wrap: break-word;
	font-size: 1rem;
	color: white;
	padding: .5rem;
	border: solid 1px lightgrey;

	/*	animatie */
	transition: all .2s ease-in-out;
}

section > article > button:hover {
	transform: scale(1.1);
}

#probleem {
	display: grid;
	/*	grid-auto-columns: min-content;*/
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/*----------------------------------------------------------*/

/* Footer */

footer {
	padding: 1rem;
	background-color: #efdbd8;
	text-transform: uppercase;
}

footer .social {
	width: 2rem;
}

footer > p {
	margin-top: 2rem;
	color: black;
}

footer > ul {
	padding: 0;
}

footer > ul > li {
	margin-top: 1rem;
	color: black;
	font-weight: 300;
	line-height: 1.6rem;
}

.text-white {
	color: white;
}

.text-black {
	color: black;
}

/*----------------------------------------------------------*/

/* Sections */

/*duurzame badkamer*/
#duurzame-badkamer {
	height: 80vh;
	background-image: url("./../images/roze-duurzaam.jpg");
	background-size: cover;
}

/*verzorging*/
#verzorging {
	height: 40vh;
	background-image: url("./../images/tandenborstel.jpg");
	background-size: cover;
}

/*bad en douche*/
#bad-en-douche {
	height: 40vh;
	background-image: url("./../images/zeepbars.jpg");
	background-size: cover;
}

section:nth-of-type(6) {
	background-color: #efdbd8;
}

.section-image {
	width: 100%;
}

/* Buttons */
#shop-nu {
	background-color: #c7e5d9;
}

#bekijk-producten1 {
	background-color: #efdbd8;
}

#bekijk-producten2 {
	background-color: #c7e5d9;
	white-space: nowrap;
}

.grid {
	display: grid;
	width: 100%;
	padding: 1rem;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	text-align: center;
}

.grid-item {
	width: 100%;
}

.grid-item > .heart {
	position: relative;
	top: 0;
	right: 0;
	float: right;
	width: 2rem;
	margin-bottom: -2rem;

}

.grid-item > .heart .liked {
	background-position: top right;
}

.grid-item > img {
	width: 100%;
}

.grid-item > a {
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	margin: 0.5rem 0 0.5rem 0;
	font-size: 0.8rem;
	color: black;
	width: 100vw;
	text-decoration: none;
}

.grid-item > h5 {
	font-weight: normal;
	font-family: 'Lato', sans-serif;
	margin: 0.5rem 0 0.5rem 0;
	text-align: center;
	width: 100%;
}

.grid-item > button {
	font-family: 'Lato', sans-serif;
	width: 100%;
	margin: auto;
	text-transform: uppercase;
	color: white;
	padding: .5rem;
	border: solid 1px lightgrey;
	background-color: #c7e5d9;
}

/*----------------------------------------------------------*/

/* Product pagina */

.hoofd-product-foto {
	width: 90vw;
}

.foto-grid {
	display: flex;
	padding: 1rem;
	margin: 0 auto;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.foto-grid .grid-item {
	display: inline-block;
}

.foto-grid .grid-item img {
	width: 100%;
	padding: 0.3rem;
}

.text-left {
	text-align: left !important;
}

#op-voorraad {
	text-transform: none;
	color: darkgreen;
	font-size: 1rem;
}

#in-winkelmand {
	margin: auto;
	text-transform: uppercase;
	color: white;
	font-size: 1rem;
	padding: .5rem 1.5rem .5rem 1.5rem;
	border: solid 1px lightgrey;
	background-color: #efdbd8;
	margin-left: .75rem;
	height: 2.5rem;
	transition: all .2s ease;
}

li {
	line-height: 1.8rem;
	font-size: 0.8rem;
	font-weight: 300;
	color: grey;
}

#input-kwantiteit {
	vertical-align: top;
	width: 3rem;
	height: 2.5rem;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: transparent;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	border-bottom: solid 1px lightgrey;
	text-align: left;
	outline: none;
	font-size: 15px;
	text-transform: uppercase;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: transparent;
}

.collapsible-content > h3,
h4 {
	color: grey;
}

.collapsible-content > p {
	color: darkgrey;
	font-size: .9rem;
	line-height: 1.8rem;
}

/* Go to top knop css en animatie */

#go-to-top {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 1rem;
	z-index: 999 !important;
}

#go-to-top > img {
	width: 2.5rem;
}

.jumpIn {
	animation: jumpIn .2s ease-in-out;
}

.invisible {
	display: none;
}

@keyframes jumpIn {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0) !important;
		opacity: 100;
	}
}

.colorAnimation {
	animation: colorAnimation 3s ease-in-out;
}

@keyframes colorAnimation {
	0% {
		background-color: #efdbd8;
		color: white;
	}

	50% {
		background-color: #c7e5d9;
		color: black;
	}

	100% {
		background-color: #efdbd8;
		color: white;
	}
}
